.dashboard {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.dashboard__card {
    flex: none;
    margin: 1em 0;
    width: 100%;
}

/* TODO: This is supposed to be another component */
.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, .85);
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.65);
}

.card__img {
    width: 100%;
}

.card__desc {
    margin: 1.5em .7em .7em;
}

@media screen and (min-width: 768px) {
    .dashboard__card {
        width: 300px;
    }

    .card__desc {
        margin: 2em 1em 1em;
    }
}

@media screen and (min-width: 1024px) {
    .dashboard__card {
        width: 400px;
    }
}