.dashboard {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.dashboard__card {
    width: 400px;
    flex: none;
    margin: 1em .5em;
}

/* TODO: This is supposed to be another component */
.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, .85);
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.65);
}

.card__img {
    width: 100%;
    height: auto;
}

.card__desc {
    margin: 2em 1em 1em;
}
