.app {
    background: rgba(0,187,197, .3);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    font-size: 16px;
}

.app__header {
    flex: none;
}

.app__dashboard {
    flex: 1 0 auto;
    padding: 0 .75em;
}

@media screen and (min-width: 768px) {
    .app__dashboard {
        padding: 0 2em;
    }
}